body {
  /* background-color: #000000; */
  background-color: #0f0f0f;
  color: white;
}

h1 {
  text-shadow: 3px 3px green;
}

html {
  border-left: solid 200px #000000;
  border-right: solid 200px #000000;
  min-height: 100vh;
}

.container {
  border-left: solid 100px #0f0f0f;
  border-right: solid 100px #0f0f0f;
  min-height: 100vh;
  padding: 0px;
}

.row {
  padding: 20px;
}

input {
  caret-color: lime;
  padding-left: 10px;
}

.jumbotron {
  color: lime;
  background-color: #0f0f0f;
  font-family: monospace;
  text-align: center;
}

input {
  color: lime;
  background-color: black;
  height: 50px;
  width: 90%;
  background-image: url('img/cmd.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}

.form {
  background-color: black;
  border-radius: 10px;
}

.output {
  background-color: black;
  padding: 30px 10px;
  color: lime;
}

#hal1 {
  border-radius: 80px;
  padding: 20px;
  opacity: 0.80;
  width: 15%;
  float: left;
}
#hal2 {
  border-radius: 80px;
  padding: 20px;
  opacity: 0.80;
  width: 15%;
  float: right;
}
