body {
  /* background-color: #303030; */
  background-color: #0f0f0f;
  color: white;
}

h1 {
  text-shadow: 3px 3px green;
}

html {
  border-left: solid 100px black;
  border-right: solid 100px black;
  min-height: 100vh;
}

.container {
  border-left: solid 100px black;
  border-right: solid 100px black;
  min-height: 100vh;
}

input {
  caret-color: lime;
  padding-left: 15px;
}

.jumbotron {
  color: lime;
  background-color: black;
  font-family: monospace;
  text-align: center;
}

input {
  color: lime;
  background-color: black;
  height: 100px;
  width: 300px;
}

#hal1 {
  border-radius: 80px;
  padding: 20px;
  opacity: 0.80;
  width: 15%;
  float: left;
}
#hal2 {
  border-radius: 80px;
  padding: 20px;
  opacity: 0.80;
  width: 15%;
  float: right;
}
